.header {
	background-image: url("css/mkt.jpg");
	text-align: center;
	padding: 67px;
}

.header h1 {
	color: white;
	font-size: 60px;
	text-shadow: 1px 1px 1px #000;
}

.header h3 {
	color: white;
	font-size: 20px;
	margin-top: 70px;
	text-shadow: 1px 1px 1px #000;
}

.boton {
	background-color: #720fc7;
	margin-left: 35vw;
	margin-right: 35vw;
	padding-top: 0.5vw;
	padding-right: 0.5vw;
	padding-bottom: 0.5vw;
	padding-left: 0.5vw;
	border-radius: 10px;
	margin-top: 40px;
	box-shadow: 1px 1px 1px #000;
	margin-bottom: 35px;
}

.boton:hover {
	opacity: 50%;
}

.textoboton {
	color: white;
	margin-top: 10px;
	font-family: Monaco;
	font-size: 17px;
	text-shadow: 1px 1px 1px #000;
}

.intro {
	background-color: #20e1a2;
	text-align: center;
	padding: 10vw;
}

.intro h2 {
	color: white;
	font-size: 45px;
	text-shadow: 1px 1px 1px #000;
}

.intro h3 {
	color: white;
	font-size: 20px;
	text-shadow: 1px 1px 1px #000;
}

.container {
	padding: 2vw;
}

.aprende {
	border-color: #c9c9c9;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-width: 2px;
	text-align: center;
	padding: 10px;
}

.textoaprende {
	font-size: 15px;
	margin-top: 4px;
}

.top {
	font-size: 20px;
	font-weight: bold;
}

.title {
	font-weight: bold;
}

.nom {
	width: 100%;
}

.mail, .tel {
	margin-top: 20px;
}

.nom1, .mail1, .tel1 {
	font-size: 14px;
	color: gray;
	border-radius: 5px;
	width: 50%;
}

.enviar {
	margin-top: 0.5vw;
}

.env {
	border-radius: 5px;
	font-size: 12px;
	padding: 0.3vw;
}

.empresas {
	border-color: #c9c9c9;
	border-top-style: dashed;
	border-width: 2px;
}

.textoempresas {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-top: 2vw;
}

.col-md-3 img {
	height: 5vw;
}

.queremos {
	border-color: #c9c9c9;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-width: 2px;
	padding: 10px;
	text-align: center;
}

.textoqueremos1 {
	font-size: 18px;
	font-weight: bold;
}

.row {
	margin-top: 20px;
}

h1 {
	text-align: center;
}

.col-md-4 img {
	margin-left: 20vw;
}

.puno {
	font-size: 20px;
	font-weight: bold;
	color: #0d77d8;
}

.pdos {
	font-size: 16px;
	font-weight: bold;	
	color: #0d77d8;
}

.textoo {
	text-align: justify;
	padding: 0.5vw;
}

.col-md-1 img {
	height: 60px;
}




