.header {
	background-image: url("../img/max.jpg");
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	padding: 15vw;
}

.header h1 {
	color: white;
	font-size: 60px;
	text-shadow: 1px 1px 1px #000;
}

.header h3 {
	color: white;
	font-size: 25px;
	margin-top: 70px;
	text-shadow: 1px 1px 1px #000;
}

.boton {
	background-color: yellow;
	margin-left: 25vw;
	margin-right: 25vw;
	padding: 0.1vw;
	border-radius: 10px;
	margin-top: 4vw;
	box-shadow: 1px 1px 1px #000;
}

.textoboton {
	color: #65610d;
	margin-top: 0.5vw;
	font-family: Monaco;
	font-size: 2vw;
	font-weight: bold;
}

.boton:hover {
	opacity: .8;
}

.intro {
	background-color: #20e1a2;
	text-align: center;
	padding: 8vw;
}

.intro h2 {
	color: white;
	font-size: 50px;
	text-shadow: 1px 1px 1px #000;
}

.intro h3 {
	color: white;
	font-size: 20px;
	text-shadow: 1px 1px 1px #000;
}

.aprende {
	border-color: #c9c9c9;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-width: 2px;
	text-align: center;
	padding: 10px;
	margin: 2vw 4vw 0vw 4vw;
}

.textoaprende {
	font-size: 18px;
	margin-top: 0.7vw;
}

.top {
	font-size: 20px;
	font-weight: bold;
}

.title {
	font-weight: bold;
}

.nom, .mail, .tel {
	font-size: 14px;
	color: gray;
	border-radius: 5px;
	width: 50%;
}

.title, .enviar {
	margin-top: 0.5vw;
}

.env {
	border-radius: 5px;
	font-size: 12px;
	padding: 0.3vw;
}

.enviar:hover {
	opacity: 0.8;
}

.empresas {
	border-color: #c9c9c9;
	border-top-style: dashed;
	border-width: 2px;
	text-align: center;
	padding: 10px;
	margin: 2vw 4vw 0vw 4vw;
}

.textoempresas {
	font-weight: bold;
	font-size: 20px;
	margin-top: 0.7vw;
}

.col-md-3 img {
	height: 5vw;
}

.queremos {
	margin-top: 20vw;
	border-color: #c9c9c9;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-width: 2px;
	padding: 10px;
	text-align: center;
}

.textoqueremos1 {
	font-size: 18px;
	font-weight: bold;
}

.row {
	margin-top: 20px;
}

h1 {
	text-align: center;
}

.col-md-4 img {
	margin-left: 20vw;
}

.puno {
	font-size: 20px;
	font-weight: bold;
	color: #0d77d8;
}

.pdos {
	font-size: 16px;
	font-weight: bold;	
	color: #0d77d8;
}

.textoo {
	text-align: justify;
	padding: 0.5vw;
}

.col-md-1 img {
	height: 60px;
}




