.header {
	background-color: #c9c9c9;
	text-align: center;
	padding: 67px;
}

.header h1 {
	color: white;
	font-size: 60px;
	text-shadow: 1px 1px 1px #000;
}

.header h3 {
	color: white;
	font-size: 20px;
	margin-top: 70px;
	text-shadow: 1px 1px 1px #000;
}

.boton {
	background-color: #720fc7;
	margin-left: 40vw;
	margin-right: 40vw;
	padding: 5px;
	border-radius: 10px;
	margin-top: 40px;
	box-shadow: 1px 1px 1px #000;
	margin-bottom: 35px;
}

.textoboton {
	color: white;
	margin-top: 10px;
	font-family: Monaco;
	font-size: 17px;
	text-shadow: 1px 1px 1px #000;
}

.intro {
	background-color: #20e1a2;
	text-align: center;
	padding: 10vw;
}

.intro h2 {
	color: white;
	font-size: 45px;
	text-shadow: 1px 1px 1px #000;
}

.intro h3 {
	color: white;
	font-size: 20px;
	text-shadow: 1px 1px 1px #000;
}

.container {
	padding: 2vw;
}

.aprende {
	border-color: gray;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-width: 2px;
	text-align: center;
	padding: 10px;
}

.textoaprende {
	font-size: 15px;
}




















